.page {
    max-width: 100vw;
    background-color: #2A2C2F;
    box-sizing: border-box;
    padding-top: 28px;
    padding-bottom: 24px;
}


@media screen and (max-width: 425px) {
    .page {
        padding-top: 16px;
    }
}

/* Рекомендуем сосредоточиться на пяти интервалах:
    от 1280 пикселей — от стандартных ноутбуков и до бесконечности,
    от 1024 и до 1280 — для небольших ноутбуков,
    от 768 и до 1024 пикселей — от вертикального до горизонтального положения планшета,
    от 425 и до 768 пикселей — от большого смартфона до вертикального положения планшета,
    до 425 пикселей — мобильные устройства. */