.photo-grid {
  max-width: 1184px;
  margin: 92px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
}

@media screen and (max-width: 1279px) {
  .photo-grid {
    max-width: 928px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 14px;
  }
}

@media screen and (max-width: 928px) {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    max-width: 94vw;
    margin-top: 88px;
    margin-bottom: 88px;
    gap: 16px;
  }
}

@media screen and (max-width: 425px) {
  .photo-grid {
    max-width: 90%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 1fr);
    gap: 12px;
    margin-top: 64px;
    margin-bottom: 64px;
  }
}
