.header {
  font-family: "Inter", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

@media screen and (max-width: 1279px) {
  .header {
    max-width: 91vw;
  }
}

@media screen and (max-width: 928px) {
  .header {
    max-width: 94vw;
  }
}

@media screen and (max-width: 425px) {
  .header {
    max-width: 90%;
  }
}