.intro {
    font-family: 'Inter', Arial, sans-serif;
    color: #FFFFFF;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    max-width: 984px;
    margin: 0 auto;
}

@media screen and (max-width: 1279px) {
    .intro  {
        max-width: 928px;
    }
}

@media screen and (max-width: 928px) {
    .intro  {
        max-width: 94vw;
    }
}

@media screen and (max-width: 425px) {
    .intro  {
        max-width: 90vw;
    }
}