.cover {
  font-family: "Inter", Arial, sans-serif;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 92px auto;
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  position: relative;
  max-width: 1184px;
}

.cover::before {
  content: "";
  background: #2a2c2f;
  opacity: 0.3;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
  transition: opacity .8s;
}

.cover:hover::before {
  opacity: 0.8;
}

@media screen and (max-width: 1020px) {
  .cover {
    margin-top: 90px;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 425px) {
  .cover {
    margin-top: 66px;
    margin-bottom: 64px;
  }
}
