.footer {
    font-family: 'Inter', Arial, sans-serif;
    color: #FFFFFF;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    max-width: 1184px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
}

@media screen and (max-width: 928px) {
    .footer  {
        max-width: 94vw;
    }
}

@media screen and (max-width: 720px) {
    .footer  {
    flex-direction: column;
    max-width: 90vw;
    }
}
